#div{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}
#nav{
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    border: 4px solid red;
}
#i{
    color: orange;
}
#am{
    color: white;
}
.am{
    padding-right: 250px;
    text-decoration: none;
}
button{
    background-color: yellow;
}
#container{
   height: 400px;
    width: 200px;
    background-color: gray;
    text-align: center;
}
.b{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding-left: 50px;
    margin-left:20px ;
    padding-bottom: 20px;
    margin-bottom: 14px;

}
#c1{
    background-color: red;
}
#c2{
    background-color: orange;
}
#c3{
    background-color: green;
}