#div{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}
#nav{
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    border: 4px solid red;
}
#i{
    color: orange;
}
#am{
    color: white;
}
.am{
    padding-right: 250px;
    text-decoration: none;
}
button{
    background-color: yellow;
}